body{
margin:0;
font-family:Arial;
background-image:url("background.jpg");
background-size:cover;
background-position:center;
text-align:center;
color:white;
}

.container{
margin-top:80px;
}

.avatar{
width:150px;
border-radius:50%;
border:4px solid white;
box-shadow:0 0 20px black;
}

h1{
font-size:40px;
margin:10px;
}

.job{
font-size:20px;
margin-bottom:30px;
}

.card{
background:rgba(0,0,0,0.6);
margin:20px auto;
padding:20px;
width:300px;
border-radius:10px;
}
